.collaborator-panel {
  display: flex;
  position: relative;
  float: right;
  height: fit-content;
}

.collaborator-icon {
  // background: blue;
  // background-image: radial-gradient(circle, blue 0%, blue 35%, #000000 100%);
  width: auto;
  height: auto;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  /* padding: 10px; */
  font-weight: 600;
  font-size: 20px;
  border: 1px solid black;
  margin: 0px 3px;
}
