.left-container-root {
  position: relative;
  display: block;
  height: 100%;

  .display-area {
    position: relative;
    overflow-y: auto;
    display: block;
    height: calc(100% - 175px);
  }

  .add-remove-button-container {
    display: block;
    height: 75px;
    position: sticky;
    bottom: 0px;
    width: 100%;
    background: #2e2e2e;
    border: 1px solid #f96302 !important;
  }

  .add-remove-button {
    margin: 15px 10px;
    font-size: 20px;
    min-width: 95px;
  }

  .disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
  }
}
