.left-container-root {
  position: relative;
  display: block;
  height: 100%;

  .left-container-placeholder {
    font-size: 18px;
    padding: 2px;
    margin: 10px 0px;
  }

  .display-area {
    position: relative;
    overflow-y: auto;
    display: block;
    height: calc(100% - 110px);
  }

  .add-remove-button-container {
    display: block;
    height: 5%;
    width: 100%;
    background: #2e2e2e;
  }

  .add-remove-button {
    margin: 10px 30px;
    font-size: 20px;
    min-width: 95px;
  }
}
