.navbar-root {
  height: 100px !important;
  font-family: Verdana, Tahoma, sans-serif;
  display: block;
  border: 1px solid #f96302 !important;
  overflow: hidden;
  background-color: #2e2e2e;

  .nav-icon {
    height: 90px;
    width: 90px;
    margin: 5px;
  }

  .navbar-options-container {
    height: 100px;
    width: calc(100% - 120px);
    float: right;
    max-height: 100px;
    overflow-y: auto;

    .navbar-option {
      height: 100%;
      margin: 0;
      padding: 25px 0px;
      float: right;

      .nav-item {
        width: fit-content;
        height: 50px;
        display: inline-block;

        .nav-link {
          float: left;
          text-align: center;
          text-decoration: none;
          font-size: 20px;
          color: #f96302;
        }

        .nav-link:hover {
          color: #f2f2f2;
        }
      }
    }
  }
}

.fixed-top {
  top: 0;
  position: sticky;
  right: 0;
  left: 0;
  z-index: 1030;
}

.logout-button {
  min-width: 100px;
  min-height: 35px;
}
