.status-node-container{
    float: right;
}

.status-node{
    font-size: 20px;
    padding: 3px;
    margin-left: 5px;
    background-color:rgb(240, 166, 82);
    color: black;
    border-radius: 10px;
    border: 2px solid black;
}

