html,
body,
#app,
#root,
.app-root,
#app > div {
  height: 100%;
}

.app-root {
  font-size: 2em;
}

body {
  background-color: #f2f2f2;
  overflow: hidden;
}

h1 {
  font-family: monospace;
  font-size: 24px !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h2 {
  font-family: monospace;
  font-size: 18px !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 20.4px;
}
h3 {
  font-family: monospace;
  font-size: 14px !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p,
textarea,
span,
input {
  font-family: monospace;
  font-size: 14px !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: monospace;
  font-size: 21px !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: monospace;
  font-size: 13px !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

button {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
}

.orange-button {
  color: #2e2e2e;
  background: #f96302;
  border: 3px #2e2e2e;
  min-width: 100px;
  min-height: 50px;
  border-radius: 4px;
}

.orange-button:hover {
  color: #f96302;
  background: #212a3f;
  border: 3px solid #f96302;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #cccccc;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f96302;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}

.Resizer {
  background: #212a3f !important;
  // opacity: 1 !important;
}

.Resizer.vertical {
  width: 15px !important;
}

// import components- contains each self-contained component in its own .scss partial
@import './components/ReactComponent';
@import './components/NavBar';
@import './components/SplitPane';
@import './components/Hierarchy';
@import './components/DocumentPanel';
@import './components/ModalComponent';

// import pages contains page-specific styling
@import './pages/ReactPage';
@import './pages/Editor';
@import './pages/Home';
@import './pages/LandingPage';
@import './components/LeftContainer';

// import vendors
@import './vendors/bootstrap.min.css';
@import './vendors/login.css';

@import '../../node_modules/react-dropdown/style.css';
