// editor root contains both editor-root-div and hierarchy-root-div (found in Hierarchy.scss)
.editor-root {
  color: #f2f2f2;

  .SplitPane {
    min-width: 100%;
  }

  .Pane {
    overflow: auto;
    // top: 100px;
    min-width: 24%;
    max-width: 76%;

    .editor-root-div {
      padding: 10px;
      background: #434f5b;
      overflow: auto;
      height: calc(100% - 100px);

      .editor-input {
        width: 99%;
        color: #f2f2f2;
      }

      .section-div {
        line-height: normal;
      }

      .selected {
        background: #212a3f;

        .section-headers {
          color: #f96302;
        }
      }

      .section-headers {
        margin: 0.5px;
        width: fit-content;
        padding: 1px;
        display: flex;
        float: left;
        height: 32px;
        line-height: 32px;
      }

      textarea {
        // background-color: #343e4899;
        background-color: #343e48;
      }
    }
  }

  .req-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left,
    .right {
      display: flex;
      align-items: center;
    }

    .orange-button {
      margin: 0px 5px;
      border: 1px solid #2e2e2e00;
    }
    .orange-button:hover {
      border: 1px solid #f96302;
    }
  }
  .doc-version-title {
    color: rgb(185, 185, 185);
    padding: 0px 5px;
  }
}

.container-width {
  width: 80px;
  height: 30px;
}
