.home-root {
  background-color: #212a3f;
  height: 100%;
  width: 100%;
  font-family: Verdana, Tahoma, sans-serif;
  color: #f96302;
}

.lefter-container{
  width: 20%;
  height: 100%;
  display: block;
  float: left;
  border: 1px solid #f96302;
  border-top: #f96302;
  text-align: center;
  background:#2e2e2e;
}

.diaplay-area{
  height: 600px;
  display: block;
}

.add-remove-buttons{
  max-height: 10%;
  position: absolute;
  bottom: 30px;
  width: 20%;
}

.add-button{
  margin: 0px 10px;
}

.remove-button{
  margin: 0px 10px;
}

.left-container {
  width: 60%;
  height: 100%;
  display: block;
  float: left;
  text-align: center;
}

.right-container {
  width: 20%;
  height: 100%;
  display: block;
  float: right;
  border: 1px solid #f96302;
  border-top: #f96302;
  text-align: center;
  background:#2e2e2e;
}
.home-header {
    font-size: 40px;
}
.home-subheader {
    padding-top: 100px;
}
