.home-root {
  border: 5px solid black;
  height: 100%;
  width: 100%;
}

.left-container {
  width: 80%;
  height: 100%;
  border: 5px solid black;
  display: block;
  float: left;
  background-color: red;
}

.right-container {
  width: 20%;
  height: 100%;
  border: 5px solid black;
  display: block;
  float: right;
}
.home-header {
  border: 5px solid black;
}
.home-subheader {
  border: 5px solid black;
}
