.landing-page-root {
  height: 100%;
  width: 100%;
  text-align: center;
  background: #212a3f;
  color: #f96302;
}
.logo-area {
  padding-top: 250px;
  font-size: 80px;
}
.login-button {
  min-width: 100px;
  min-height: 50px;
}
