.landing-page-root {
  height: calc(100% - 100px);
  width: 100%;
  text-align: center;
  background: #212a3f;
  color: #f96302;
  overflow: auto;
}
.logo-area {
  position: relative;
  top: 45% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  font-size: 80px;
  align-items: center;
}

.login-button {
  min-width: 100px;
  min-height: 50px;
}

.landing-logo-icon {
  height: 20%;
  min-height: 150px;
  width: auto;
  align-self: center;
}

.landing-logo-name {
  min-height: 100px;
  height: 20%;
  width: auto;
  float: right;
}
